# Challenge Data Analysis

## Import modules

In [1]:
import numpy as np
import pandas as pd

## Files used

In [2]:
filename_in = './data/immoweb_scrapped.csv'
filename_out = './data/immoweb_cleaned.csv'

## Load data

In [3]:
data = pd.read_csv(filename_in, index_col="id")
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Initial check
Which values are missing?

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10006 entries, 9044081 to 8471905
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   locality             10006 non-null  int64
 1   type_of_property     10006 non-null  object
 2   subtype_of_property  10006 non-null  object
 3   price                9054 non-null   float64
 4   type_of_sale         10006 non-null  object
 5   nr_of_rooms          9119 non-null   float64
 6   area                 8817 non-null   float64
 7   equiped_kitchen      7819 non-null   object
 8   furnished            5535 non-null   object
 9   open_fire            10006 non-null  bool
 10  terrace              6421 non-null   object
 11  terrace_area         4373 non-null   float64
 12  garden               3029 non-null   object
 13  garden_area          2097 non-null   float64
 14  total_land_area      4576 non-null   float64
 15  nr_of_facades        7024 non-null   float64
 16  swimming_pool        4248 non-null   object
 17  building_condition   7924 non-null   object
dtypes: bool(1), float64(7), int64(1), object(9)
memory usage: 1.4+ MB

## Clean data

### No duplicates

In [5]:
data.index.is_unique

True

### No blank space

In [6]:
# Remove leading and trailing withespaces
def strip_str(x):
    if type(x) is str:
        return x.strip()
    return x

In [7]:
data = data.applymap(strip_str)

In [8]:
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### No errors

##### Price error

In [9]:
data.loc[data['price'] == 1, 'price'] = np.nan

##### Area error

In [10]:
data.loc[data['area'] == 1, 'area'] = np.nan

### No empty values

##### Empty price
Removing all the data without a price

In [11]:
data[data['price'].isna()].shape[0]

953

In [12]:
data = data.dropna(subset=['price'])

In [13]:
data[data['price'] == data['price'].min()]

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9017674,6000,APARTMENT,APARTMENT,20000.0,FOR_SALE,2.0,90.0,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TO_BE_DONE_UP

In [14]:
data[data['price'] == data['price'].max()]

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
8286140,8300,HOUSE,EXCEPTIONAL_PROPERTY,9500000.0,FOR_SALE,7.0,945.0,HYPER_EQUIPPED,True,False,True,NaN,True,2348.0,2348.0,4.0,True,AS_NEW

##### Equiped kitchen

In [15]:
data['equiped_kitchen'] = data['equiped_kitchen'].replace(np.nan, 'UNK')

##### Area
Try to determinate the area on basis of :
- total land area
- garden area

If not possible to determinate it, -1

In [16]:
def compute_area(x):
    # np.nan != np.nan
    if x['area'] != x['area'] or x['area'] == -1:
        if x['total_land_area'] > x['garden_area']:
            garden_area = x['garden_area'] if x['garden_area'] > 0 else 0
            return x['total_land_area'] - garden_area
        else:
            return -1
    else:
        return x['area']

In [17]:
data['area'] = data.apply(compute_area, axis= 1)

In [18]:
data['area'].value_counts()

-1.0      272
 100.0    184
 120.0    172
 90.0     168
 110.0    155
         ...
 578.0      1
 568.0      1
 407.0      1
 586.0      1
 349.0      1
Name: area, Length: 551, dtype: int64

##### Furnished

In [19]:
data['furnished'] = data['furnished'].fillna(False)

In [20]:
data['furnished'].value_counts()

False    8654
True      399
Name: furnished, dtype: int64

##### Terrace

In [21]:
data['terrace'] = data['terrace'].fillna(False)

In [22]:
data['terrace'].value_counts()

True     6392
False    2661
Name: terrace, dtype: int64

##### Terrace area

In [23]:
data['terrace_area'] = data['terrace_area'].fillna(-1)

In [24]:
data['terrace_area'].value_counts()

-1.0      4689
 20.0      268
 10.0      231
 15.0      216
 30.0      196
          ...
 84.0        1
 104.0       1
 165.0       1
 89.0        1
 106.0       1
Name: terrace_area, Length: 152, dtype: int64

##### Garden
Try to determinate the presence on basis of :

- total land area
- terrace_area
- area

In [25]:
# Function that will replace the NaN garden value 
# by a boolean (True/False)
# True if total_land_area > (area + terrace_area)
# otherwise False
def garden_nan_to_bool_value(x):
    # Only if value is NaN
    if x["garden"] != x["garden"]:
        area = x["area"] if x["area"] > 0 else 0
        terrace_area = x["terrace_area"] if x["terrace_area"] > 0 else 0
        return x["total_land_area"] > area + terrace_area
    return x["garden"]

In [26]:
data["garden"] = data.apply(garden_nan_to_bool_value, axis=1)

In [27]:
data['garden'].value_counts()

False    4814
True     4239
Name: garden, dtype: int64

##### Total land area
Try to determinate the garden area on basis of :

- terrace_area
- area

If not possible to determinate it, -1

In [28]:
data['total_land_area'].value_counts()

0.0       207
150.0      38
120.0      38
1000.0     36
100.0      34
         ...
629.0       1
2327.0      1
3967.0      1
2418.0      1
3591.0      1
Name: total_land_area, Length: 1552, dtype: int64

In [29]:
def total_land_area_nan_to_value(x):
    # Only if value is NaN
    if x["total_land_area"] != x["total_land_area"]:
        area = x["area"] if x["area"] > 0 else 0
        terrace_area = x["terrace_area"] if x["terrace_area"] > 0 else 0
        return area + terrace_area
    return x["total_land_area"]

In [30]:
data["total_land_area"] = data.apply(total_land_area_nan_to_value, axis=1)

##### Garden area
Try to determinate the garden area on basis of :

- total land area
- terrace_area
- area

If not possible to determinate it, -1

In [31]:
# Function that will replace the NaN garden_are value 
# by a int
# if total_land_area > (area + terrace_area)
# otherwise 0
def garden_area_nan_to_value(x):
    # Only if value is NaN
    if x["garden_area"] != x["garden_area"]:
        area = x["area"] if x["area"] > 0 else 0
        terrace_area = x["terrace_area"] if x["terrace_area"] > 0 else 0
        
        if x["total_land_area"] >= area + terrace_area:
            return x["total_land_area"] - area - terrace_area
        else:
            return -1
    return x["garden_area"]

In [32]:
data["garden_area"] = data.apply(garden_area_nan_to_value, axis=1)

In [33]:
data['garden_area'].value_counts()

 0.0        4308
-1.0         791
 100.0        67
 200.0        56
 400.0        51
            ...
 2748.0        1
 21780.0       1
 5110.0        1
 2550.0        1
 1890.0        1
Name: garden_area, Length: 1307, dtype: int64

##### Swimming pool

In [34]:
data['swimming_pool'] = data['swimming_pool'].fillna(False)

##### Number of facades

In [35]:
data['nr_of_facades'] = data['nr_of_facades'].fillna(-1)

##### Building condition

In [36]:
data['building_condition'] = data['building_condition'].fillna('UKN')

### Added values

##### Kitchen

In [37]:
#create a new column with condition over 'equiped_kitchen' column
l = ['UNK','NOT_INSTALLED', 'USA_UNINSTALLED']

data['kitchen'] = np.where(data['equiped_kitchen'].isin(l), True, False )

In [38]:
data['kitchen'].value_counts()

False    7327
True     1726
Name: kitchen, dtype: int64

In [39]:
data['equiped_kitchen'].value_counts()

INSTALLED             3357
HYPER_EQUIPPED        1880
UNK                   1295
SEMI_EQUIPPED          969
USA_HYPER_EQUIPPED     839
NOT_INSTALLED          421
USA_INSTALLED          206
USA_SEMI_EQUIPPED       76
USA_UNINSTALLED         10
Name: equiped_kitchen, dtype: int64

##### Region and Province

In [40]:
# Function that will determine the Region
# based on the Locality ZipCode
# 
#1000–1299 -> BXL
#1300–1499 -> WAL
#1500–3999 -> VLA
#4000–4999 -> WAL
#5000–7999 -> WAL
#8000–9999 -> VLA
def get_region_on_zip_code(x):
    # Only if value is NaN
    if (1000 <= x <= 1299):
        return "BXL"
    elif (1300 <= x <= 1499) or (4000 <= x <= 7999):
        return "WAL"
    else:
        return "VLA"

In [41]:
data["region"] = data.locality.apply(get_region_on_zip_code)

In [42]:
data["region"].value_counts()

VLA    3954
WAL    3052
BXL    2047
Name: region, dtype: int64

In [43]:
# function to recognize the province based on the postal code
def province(x):
    prov = []
    for i in x["locality"]:
        if 2000 <= i <= 2999:  # Antwerp
            prov.append("VAN")
        if 3500 <= i <= 3999:  # Limburg
            prov.append("VLI")
        if 4000 <= i <= 4999:  # Liège
            prov.append("WLG")
        if 1300 <= i <= 1499:  # Brabant Wallon
            prov.append("WBR")
        if 5000 <= i <= 5999:  # Namur
            prov.append("WNA") 
        if 6600 <= i <= 6999:  # Luxembourg
            prov.append("WLX")            
        if 1000 <= i <= 1299:  # Brussels
            prov.append("BXL")
        if (1500 <= i <= 1999) | (3000 <= i <= 3499):  # Brabant Flamand
            prov.append("VBR")
        if (6000 <= i <= 6599) | (7000 <= i <= 7999):  # Hainaut
            prov.append("WHT")            
        if 8000 <= i <= 8999:  # Flander Occidentale
            prov.append("VWV") 
        if 9000 <= i <= 9999:  # Flander Orientale
            prov.append("VOV")
    return prov

In [44]:
data["province"] = province(data)

In [45]:
data["province"].value_counts()

BXL    2047
VWV    1739
WLG    1101
VBR     800
VOV     781
WHT     702
WBR     564
VAN     550
WLX     389
WNA     296
VLI      84
Name: province, dtype: int64

##### Price meter price
On the build area and the total land area

In [46]:
# Price / Area 
def price_sq_meter(x):
    if x["area"] > 0:
        return x["price"]/x["area"]
    return -1

In [47]:
data["sq_m_price"] = data.apply(price_sq_meter, axis=1)

In [48]:
data["sq_m_price"].value_counts()

-1.000000       272
 2500.000000     56
 3000.000000     40
 2000.000000     32
 3750.000000     24
               ...
 4447.761194      1
 2959.259259      1
 3625.541126      1
 1091.205212      1
 2251.184834      1
Name: sq_m_price, Length: 5598, dtype: int64

In [49]:
# Price / Total land area
def price_sq_meter_land(x):
    if x["total_land_area"] > 0:
        return x["price"]/x["total_land_area"]
    return -1

In [50]:
data["sq_m_land_price"] = data.apply(price_sq_meter_land, axis=1)

In [51]:
data["sq_m_land_price"].value_counts()

-1.000000        297
 2500.000000      39
 3000.000000      26
 2000.000000      18
 1000.000000      16
                ...
 376.923077        1
 11406.250000      1
 776.315789        1
 8277.777778       1
 605.555556        1
Name: sq_m_land_price, Length: 6648, dtype: int64

## Conversion

##### bool -> 0/1

In [52]:
def bool_to_int(x):
    if type(x) is bool:
        if x:
            return 1
        else:
            return 0
    return x

In [53]:
data = data.applymap(bool_to_int)

In [54]:
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,...,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen,region,province,sq_m_price,sq_m_land_price
id,,,,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,0,0,...,0.0,103.0,4.0,0,AS_NEW,0,BXL,BXL,2944.444444,2572.815534
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,0,1,...,0.0,1050.0,3.0,0,AS_NEW,0,BXL,BXL,2761.538462,1709.523810
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,0,0,...,-1.0,340.0,2.0,0,JUST_RENOVATED,0,BXL,BXL,5053.191489,11176.470588
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,0,0,...,1200.0,1421.0,3.0,0,AS_NEW,1,WAL,WLG,1385.281385,225.193526
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,0,0,...,0.0,75.0,2.0,0,GOOD,0,VLA,VOV,2600.000000,2600.000000

##### Round float to 2 decimal

In [55]:
def float_round_2_decimal(x):
    if type(x) is float:
        return round(x, 2)
    return x

In [56]:
data = data.applymap(float_round_2_decimal)

##### Convert text dictionary to numeric

In [57]:
dic_type_of_property = {
        "APARTMENT": 1,
        "HOUSE":     2
    }

data["type_of_property"] = data["type_of_property"].apply(lambda x: dic_type_of_property.get(x))

In [58]:
dic_subtype_of_property = {
        "APARTMENT":1,
        "MANSION":2,
        "HOUSE":3,
        "TRIPLEX":4,
        "VILLA":5,
        "FLAT_STUDIO":6,
        "EXCEPTIONAL_PROPERTY":7,
        "LOFT":8,
        "DUPLEX":9,
        "SERVICE_FLAT":10,
        "TOWN_HOUSE":11,
        "FARMHOUSE":12,
        "PENTHOUSE":13,
        "BUNGALOW":14,
        "APARTMENT_BLOCK":15,
        "COUNTRY_COTTAGE":15,
        "MIXED_USE_BUILDING":17,
        "GROUND_FLOOR":17,
        "OTHER_PROPERTY":19,
        "MANOR_HOUSE":20,
        "CHALET":21,
        "KOT":22,
        "CASTLE":23
    }
data["subtype_of_property"] = data["subtype_of_property"].apply(lambda x: dic_subtype_of_property.get(x))

In [59]:
dic_type_of_sale = {"FOR_SALE": 1}
data["type_of_sale"] = data["type_of_sale"].apply(lambda x: dic_type_of_sale.get(x))

In [60]:
dic_equiped_kitchen = {
        "INSTALLED": 1,
        "USA_HYPER_EQUIPPED": 2,
        "HYPER_EQUIPPED": 3,
        "NOT_INSTALLED": 4,
        "SEMI_EQUIPPED": 5,
        "USA_INSTALLED": 6,
        "USA_SEMI_EQUIPPED": 7,
        "UNK": -1,
        "USA_UNINSTALLED": 8
    }
data["equiped_kitchen"] = data["equiped_kitchen"].apply(lambda x: dic_equiped_kitchen.get(x))

In [61]:
dic_building_condition = {
        "AS_NEW": 1,
        "JUST_RENOVATED": 2,
        "GOOD": 3,
        "TO_BE_DONE_UP": 4,
        "TO_RENOVATE": 5,
        "UKN": -1,
        "TO_RESTORE": 6
    }
data["building_condition"] = data["building_condition"].apply(lambda x: dic_building_condition.get(x))

In [62]:
dic_region = {
        "BXL": 0,
        "VLA": 1,
        "WAL": 2
    }
data["region"] = data["region"].apply(lambda x: dic_region.get(x))

In [63]:
dic_province = {
        "BXL": 1,
        "VAN": 2,
        "VBR": 3,
        "VLI": 4,
        "VOV": 5,
        "VWV": 6,
        "WBR": 7,
        "WHT": 8,
        "WLG": 9,
        "WLX": 10,
        "WNA": 11
    }
data["province"] = data["province"].apply(lambda x: dic_province.get(x))

## Fix dtype

In [64]:
data.dtypes

locality                 int64
type_of_property         int64
subtype_of_property      int64
price                  float64
type_of_sale             int64
nr_of_rooms            float64
area                   float64
equiped_kitchen          int64
furnished                int64
open_fire                int64
terrace                  int64
terrace_area           float64
garden                   int64
garden_area            float64
total_land_area        float64
nr_of_facades          float64
swimming_pool            int64
building_condition       int64
kitchen                  int64
region                   int64
province                 int64
sq_m_price             float64
sq_m_land_price        float64
dtype: object

In [65]:
convert_dict = {'price': int,
                'nr_of_rooms': int,
                'area': int,
                'furnished': int,
                'terrace_area': int,
                'garden_area': int, 
                'nr_of_facades': int,
                'total_land_area': int 
               } 
  
data = data.astype(convert_dict)

In [66]:
data.dtypes

locality                 int64
type_of_property         int64
subtype_of_property      int64
price                    int64
type_of_sale             int64
nr_of_rooms              int64
area                     int64
equiped_kitchen          int64
furnished                int64
open_fire                int64
terrace                  int64
terrace_area             int64
garden                   int64
garden_area              int64
total_land_area          int64
nr_of_facades            int64
swimming_pool            int64
building_condition       int64
kitchen                  int64
region                   int64
province                 int64
sq_m_price             float64
sq_m_land_price        float64
dtype: object

In [67]:
data.shape

(9053, 23)

In [68]:
data.head(100)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,...,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen,region,province,sq_m_price,sq_m_land_price
id,,,,,,,,,,,,,,,,,,,,,
9044081,1083,1,1,265000,1,4,90,1,0,0,...,0,103,4,0,1,0,0,1,2944.44,2572.82
9043978,1000,1,1,1795000,1,4,650,2,0,1,...,0,1050,3,0,1,0,0,1,2761.54,1709.52
9044188,1050,2,2,3800000,1,5,752,3,0,0,...,-1,340,2,0,2,0,0,1,5053.19,11176.47
9041095,4860,2,3,320000,1,5,231,4,0,0,...,1200,1421,3,0,1,1,2,9,1385.28,225.19
9043036,9600,1,1,195000,1,2,75,1,0,0,...,0,75,2,0,3,0,1,5,2600.00,2600.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9043293,8020,2,3,495000,1,3,217,3,0,1,...,230,1045,3,0,1,0,1,6,2281.11,473.68
9007296,5060,1,9,318000,1,3,118,3,0,0,...,0,140,2,0,3,0,2,11,2694.92,2271.43
9029109,4140,2,14,349000,1,3,180,5,0,0,...,850,1674,4,0,1,0,2,9,1938.89,208.48
9029927,5580,2,3,599000,1,4,320,1,0,1,...,4300,4342,4,0,1,0,2,11,1871.88,137.95
9029376,1050,2,17,985000,1,3,340,4,0,0,...,100,210,2,0,3,1,0,1,2897.06,4690.48

### Delete unrelevant rows

##### Area unknown
Area must be > 0

In [69]:
data = data[data["area"] > 0]

##### Apartement block
They are whole building and not just a real estate property

In [70]:
data = data[data["subtype_of_property"] != 15]

##### Price / SqM unknown
Price / Square Meter must be > 0

In [71]:
data = data[data["sq_m_price"] > 0]

### Delete unrelevant columns

##### Type of sale
Always FOR_SALE

In [72]:
data.drop(["type_of_sale"], axis=1, inplace=True)

##### Furnished

In [73]:
data.drop(["furnished"], axis=1, inplace=True)

### Final data check

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8577 entries, 9044081 to 8471905
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   locality             8577 non-null   int64
 1   type_of_property     8577 non-null   int64
 2   subtype_of_property  8577 non-null   int64
 3   price                8577 non-null   int64
 4   nr_of_rooms          8577 non-null   int64
 5   area                 8577 non-null   int64
 6   equiped_kitchen      8577 non-null   int64
 7   open_fire            8577 non-null   int64
 8   terrace              8577 non-null   int64
 9   terrace_area         8577 non-null   int64
 10  garden               8577 non-null   int64
 11  garden_area          8577 non-null   int64
 12  total_land_area      8577 non-null   int64
 13  nr_of_facades        8577 non-null   int64
 14  swimming_pool        8577 non-null   int64
 15  building_condition   8577 non-null   int64
 16  kitchen              8577 non-null   int64
 17  region               8577 non-null   int64
 18  province             8577 non-null   int64
 19  sq_m_price           8577 non-null   float64
 20  sq_m_land_price      8577 non-null   float64
dtypes: float64(2), int64(19)
memory usage: 1.4 MB

### Save data cleaned

In [75]:
data.to_csv(filename_out)