In [144]:
#importing necessary libraries
import pandas as pd
import numpy as np
import csv

In [145]:
#importing datas from the github repository
data = pd.read_csv('data/immoweb_scrapped.csv', sep= ',')

#showing the 20 first rows of the dataframe
data.head(20)

,id,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
0,9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
1,9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
2,9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
3,9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
4,9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9041098,6001,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,NaN,GOOD
7,9042950,6010,APARTMENT,TRIPLEX,235000.0,FOR_SALE,3.0,149.0,HYPER_EQUIPPED,False,False,True,15.0,NaN,NaN,NaN,2.0,False,AS_NEW
8,9042073,1070,APARTMENT,APARTMENT,320000.0,FOR_SALE,3.0,130.0,USA_HYPER_EQUIPPED,False,False,True,14.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
9,9042267,7181,HOUSE,VILLA,325000.0,FOR_SALE,2.0,130.0,INSTALLED,False,False,True,30.0,True,600.0,1043.0,4.0,False,TO_BE_DONE_UP
10,9042129,1000,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9042511,5340,HOUSE,VILLA,569000.0,FOR_SALE,6.0,324.0,INSTALLED,NaN,False,True,57.0,True,NaN,2202.0,4.0,NaN,JUST_RENOVATED
12,9034494,1950,APARTMENT,APARTMENT,715000.0,FOR_SALE,2.0,126.0,USA_HYPER_EQUIPPED,False,False,True,6.0,NaN,NaN,NaN,2.0,False,AS_NEW
13,9039019,1050,APARTMENT,APARTMENT,1550000.0,FOR_SALE,3.0,213.0,USA_HYPER_EQUIPPED,False,False,True,39.0,NaN,NaN,NaN,NaN,False,AS_NEW
14,9040949,3271,HOUSE,HOUSE,230000.0,FOR_SALE,4.0,226.0,INSTALLED,NaN,False,True,25.0,True,150.0,398.0,3.0,NaN,TO_RENOVATE
15,8997289,1180,APARTMENT,FLAT_STUDIO,224500.0,FOR_SALE,1.0,52.0,HYPER_EQUIPPED,False,True,True,1.0,NaN,NaN,NaN,2.0,NaN,GOOD
16,8949028,4870,HOUSE,EXCEPTIONAL_PROPERTY,349000.0,FOR_SALE,5.0,350.0,HYPER_EQUIPPED,NaN,True,True,40.0,True,450.0,700.0,3.0,NaN,GOOD
17,9039312,9000,APARTMENT,APARTMENT,358000.0,FOR_SALE,2.0,85.0,INSTALLED,NaN,False,True,1.0,NaN,NaN,NaN,2.0,NaN,GOOD
18,9039311,2060,APARTMENT,LOFT,360500.0,FOR_SALE,2.0,114.0,INSTALLED,NaN,False,True,25.0,NaN,NaN,NaN,2.0,NaN,GOOD
19,9039245,1330,HOUSE,HOUSE,585000.0,FOR_SALE,5.0,187.0,SEMI_EQUIPPED,False,False,True,74.0,NaN,NaN,483.0,3.0,False,GOOD

In [146]:
#number of columns and rows before cleaning
data.shape

(10006, 19)

In [147]:
#removing all the rows without a price
data = data.dropna(subset=['price'])

In [2]:
#showing dataframe after first cleanings 
data.head(20)

,id,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
0,9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
1,9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
2,9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
3,9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
6,9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,NaN,GOOD
7,9042950,6010,APARTMENT,TRIPLEX,235000.0,FOR_SALE,3.0,149.0,HYPER_EQUIPPED,False,False,True,15.0,NaN,NaN,NaN,2.0,False,AS_NEW
8,9042073,1070,APARTMENT,APARTMENT,320000.0,FOR_SALE,3.0,130.0,USA_HYPER_EQUIPPED,False,False,True,14.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
9,9042267,7181,HOUSE,VILLA,325000.0,FOR_SALE,2.0,130.0,INSTALLED,False,False,True,30.0,True,600.0,1043.0,4.0,False,TO_BE_DONE_UP
11,9042511,5340,HOUSE,VILLA,569000.0,FOR_SALE,6.0,324.0,INSTALLED,NaN,False,True,57.0,True,NaN,2202.0,4.0,NaN,JUST_RENOVATED
12,9034494,1950,APARTMENT,APARTMENT,715000.0,FOR_SALE,2.0,126.0,USA_HYPER_EQUIPPED,False,False,True,6.0,NaN,NaN,NaN,2.0,False,AS_NEW
13,9039019,1050,APARTMENT,APARTMENT,1550000.0,FOR_SALE,3.0,213.0,USA_HYPER_EQUIPPED,False,False,True,39.0,NaN,NaN,NaN,NaN,False,AS_NEW
14,9040949,3271,HOUSE,HOUSE,230000.0,FOR_SALE,4.0,226.0,INSTALLED,NaN,False,True,25.0,True,150.0,398.0,3.0,NaN,TO_RENOVATE
15,8997289,1180,APARTMENT,FLAT_STUDIO,224500.0,FOR_SALE,1.0,52.0,HYPER_EQUIPPED,False,True,True,1.0,NaN,NaN,NaN,2.0,NaN,GOOD
16,8949028,4870,HOUSE,EXCEPTIONAL_PROPERTY,349000.0,FOR_SALE,5.0,350.0,HYPER_EQUIPPED,NaN,True,True,40.0,True,450.0,700.0,3.0,NaN,GOOD
17,9039312,9000,APARTMENT,APARTMENT,358000.0,FOR_SALE,2.0,85.0,INSTALLED,NaN,False,True,1.0,NaN,NaN,NaN,2.0,NaN,GOOD
18,9039311,2060,APARTMENT,LOFT,360500.0,FOR_SALE,2.0,114.0,INSTALLED,NaN,False,True,25.0,NaN,NaN,NaN,2.0,NaN,GOOD
19,9039245,1330,HOUSE,HOUSE,585000.0,FOR_SALE,5.0,187.0,SEMI_EQUIPPED,False,False,True,74.0,NaN,NaN,483.0,3.0,False,GOOD
20,9039433,1180,APARTMENT,APARTMENT,780000.0,FOR_SALE,3.0,190.0,USA_HYPER_EQUIPPED,False,False,True,135.0,NaN,NaN,NaN,3.0,False,JUST_RENOVATED
21,9038896,4430,APARTMENT,APARTMENT,210000.0,FOR_SALE,2.0,77.0,INSTALLED,NaN,False,True,5.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
22,9038897,4430,APARTMENT,APARTMENT,250000.0,FOR_SALE,2.0,97.0,INSTALLED,NaN,False,True,5.0,NaN,NaN,NaN,3.0,NaN,AS_NEW

In [149]:
#taking a look in the recent dataframe shape
data.shape

(9054, 19)

In [3]:
data.dtypes

,id,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
0,9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
1,9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
2,9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
3,9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
4,9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(10006, 19)

### Added value

#### Kitchen

#### Province

#### Region

#setting the index to 'id' column instead of the default one
data = data.set_index(['id'])

In [152]:
#fast check of the head
data.head(5)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,NaN,GOOD

In [153]:
#see all the differents values taken by the column 'equiped_kitchen' before changes
data['equiped_kitchen'].unique()

array(['INSTALLED', 'USA_HYPER_EQUIPPED', 'HYPER_EQUIPPED',
       'NOT_INSTALLED', 'SEMI_EQUIPPED', 'USA_INSTALLED',
       'USA_SEMI_EQUIPPED', nan, 'USA_UNINSTALLED'], dtype=object)

In [154]:
#replace all `nan` values by zero (0) in the column
data['equiped_kitchen'] = data['equiped_kitchen'].replace(np.nan, 0)

#create a new column with condition over 'equiped_kitchen' column
data['kitchen'] = np.where(data['equiped_kitchen'] != 0, True, False)

In [155]:
#check for an `nan` value in the datafram if the condition is verified
# .loc help to index a specifique row knowing his index
data.loc[[9037683]]

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen
id,,,,,,,,,,,,,,,,,,,
9037683,3300,HOUSE,HOUSE,199000.0,FOR_SALE,3.0,154.0,0,NaN,False,True,15.0,NaN,NaN,400.0,3.0,NaN,TO_RENOVATE,False

In [168]:
#determining the missing values in 'area' column 
#the missing values will be the difference between 'garden_area' and 'total_land_area'
#before that let's clean the concerned columns by replacing their 'nan' values too

data['garden_area'] = data['garden_area'].replace(np.nan, 0)
data['total_land_area'] = data['total_land_area'].replace(np.nan, 0)

In [157]:
#fast check
data.head(10)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen
id,,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW,True
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW,True
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED,True
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW,True
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,NaN,GOOD,True
9042950,6010,APARTMENT,TRIPLEX,235000.0,FOR_SALE,3.0,149.0,HYPER_EQUIPPED,False,False,True,15.0,NaN,NaN,NaN,2.0,False,AS_NEW,True
9042073,1070,APARTMENT,APARTMENT,320000.0,FOR_SALE,3.0,130.0,USA_HYPER_EQUIPPED,False,False,True,14.0,NaN,NaN,NaN,2.0,NaN,AS_NEW,True
9042267,7181,HOUSE,VILLA,325000.0,FOR_SALE,2.0,130.0,INSTALLED,False,False,True,30.0,True,600.0,1043.0,4.0,False,TO_BE_DONE_UP,True
9042511,5340,HOUSE,VILLA,569000.0,FOR_SALE,6.0,324.0,INSTALLED,NaN,False,True,57.0,True,NaN,2202.0,4.0,NaN,JUST_RENOVATED,True
9034494,1950,APARTMENT,APARTMENT,715000.0,FOR_SALE,2.0,126.0,USA_HYPER_EQUIPPED,False,False,True,6.0,NaN,NaN,NaN,2.0,False,AS_NEW,True

In [159]:
data[(data['garden']== True) & (data['garden_area'] != data['garden_area'])].shape[0]

921

In [169]:
data['area'].isna().sum()

268

In [178]:
def area_adj(x):
    if x['area'] != x['area']:
        if x['total_land_area'] > x['garden_area']:
            return x['total_land_area'] - x['garden_area']
        else:
            return -1
    else:
        return x['area']

In [179]:
data['area'] = data.apply(area_adj, axis= 1)

In [180]:
data['area'].isna().sum()

0

In [181]:
data.head(50)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen
id,,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,0.0,0.0,4.0,NaN,AS_NEW,True
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,0.0,0.0,3.0,NaN,AS_NEW,True
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,0.0,340.0,2.0,NaN,JUST_RENOVATED,True
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW,True
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,0.0,0.0,2.0,NaN,GOOD,True
9042950,6010,APARTMENT,TRIPLEX,235000.0,FOR_SALE,3.0,149.0,HYPER_EQUIPPED,False,False,True,15.0,NaN,0.0,0.0,2.0,False,AS_NEW,True
9042073,1070,APARTMENT,APARTMENT,320000.0,FOR_SALE,3.0,130.0,USA_HYPER_EQUIPPED,False,False,True,14.0,NaN,0.0,0.0,2.0,NaN,AS_NEW,True
9042267,7181,HOUSE,VILLA,325000.0,FOR_SALE,2.0,130.0,INSTALLED,False,False,True,30.0,True,600.0,1043.0,4.0,False,TO_BE_DONE_UP,True
9042511,5340,HOUSE,VILLA,569000.0,FOR_SALE,6.0,324.0,INSTALLED,NaN,False,True,57.0,True,0.0,2202.0,4.0,NaN,JUST_RENOVATED,True
9034494,1950,APARTMENT,APARTMENT,715000.0,FOR_SALE,2.0,126.0,USA_HYPER_EQUIPPED,False,False,True,6.0,NaN,0.0,0.0,2.0,False,AS_NEW,True
9039019,1050,APARTMENT,APARTMENT,1550000.0,FOR_SALE,3.0,213.0,USA_HYPER_EQUIPPED,False,False,True,39.0,NaN,0.0,0.0,NaN,False,AS_NEW,True
9040949,3271,HOUSE,HOUSE,230000.0,FOR_SALE,4.0,226.0,INSTALLED,NaN,False,True,25.0,True,150.0,398.0,3.0,NaN,TO_RENOVATE,True
8997289,1180,APARTMENT,FLAT_STUDIO,224500.0,FOR_SALE,1.0,52.0,HYPER_EQUIPPED,False,True,True,1.0,NaN,0.0,0.0,2.0,NaN,GOOD,True
8949028,4870,HOUSE,EXCEPTIONAL_PROPERTY,349000.0,FOR_SALE,5.0,350.0,HYPER_EQUIPPED,NaN,True,True,40.0,True,450.0,700.0,3.0,NaN,GOOD,True
9039312,9000,APARTMENT,APARTMENT,358000.0,FOR_SALE,2.0,85.0,INSTALLED,NaN,False,True,1.0,NaN,0.0,0.0,2.0,NaN,GOOD,True
9039311,2060,APARTMENT,LOFT,360500.0,FOR_SALE,2.0,114.0,INSTALLED,NaN,False,True,25.0,NaN,0.0,0.0,2.0,NaN,GOOD,True
9039245,1330,HOUSE,HOUSE,585000.0,FOR_SALE,5.0,187.0,SEMI_EQUIPPED,False,False,True,74.0,NaN,0.0,483.0,3.0,False,GOOD,True
9039433,1180,APARTMENT,APARTMENT,780000.0,FOR_SALE,3.0,190.0,USA_HYPER_EQUIPPED,False,False,True,135.0,NaN,0.0,0.0,3.0,False,JUST_RENOVATED,True
9038896,4430,APARTMENT,APARTMENT,210000.0,FOR_SALE,2.0,77.0,INSTALLED,NaN,False,True,5.0,NaN,0.0,0.0,NaN,NaN,AS_NEW,True
9038897,4430,APARTMENT,APARTMENT,250000.0,FOR_SALE,2.0,97.0,INSTALLED,NaN,False,True,5.0,NaN,0.0,0.0,3.0,NaN,AS_NEW,True
9038507,8370,APARTMENT,DUPLEX,199000.0,FOR_SALE,2.0,87.0,INSTALLED,NaN,False,True,NaN,NaN,0.0,0.0,2.0,NaN,GOOD,True
8929869,1755,HOUSE,HOUSE,259000.0,FOR_SALE,3.0,116.0,SEMI_EQUIPPED,NaN,False,True,NaN,NaN,0.0,810.0,3.0,NaN,TO_BE_DONE_UP,True
9037183,9050,APARTMENT,APARTMENT,265000.0,FOR_SALE,1.0,76.0,INSTALLED,False,False,True,10.0,True,0.0,0.0,NaN,False,AS_NEW,True
9037014,1070,APARTMENT,APARTMENT,288000.0,FOR_SALE,2.0,88.0,USA_HYPER_EQUIPPED,NaN,False,True,6.0,NaN,0.0,0.0,2.0,NaN,AS_NEW,True
9042688,2845,HOUSE,HOUSE,320000.0,FOR_SALE,4.0,158.0,INSTALLED,False,False,NaN,NaN,True,43.0,100.0,2.0,False,AS_NEW,True
9042223,4120,HOUSE,HOUSE,325000.0,FOR_SALE,3.0,130.0,USA_HYPER_EQUIPPED,False,False,True,75.0,True,760.0,1031.0,4.0,False,GOOD,True
9034495,1160,APARTMENT,FLAT_STUDIO,239500.0,FOR_SALE,0.0,46.0,USA_HYPER_EQUIPPED,False,False,True,9.0,NaN,0.0,0.0,NaN,False,AS_NEW,True
9034656,8670,APARTMENT,SERVICE_FLAT,320000.0,FOR_SALE,1.0,57.0,USA_HYPER_EQUIPPED,False,False,True,NaN,NaN,0.0,0.0,NaN,False,AS_NEW,True
9036085,6020,HOUSE,HOUSE,109900.0,FOR_SALE,2.0,125.0,SEMI_EQUIPPED,False,False,True,10.0,NaN,0.0,80.0,3.0,False,GOOD,True
9036417,1080,APARTMENT,APARTMENT,169000.0,FOR_SALE,2.0,70.0,NOT_INSTALLED,False,False,True,2.0,NaN,0.0,0.0,2.0,NaN,TO_RENOVATE,True
9035995,1500,APARTMENT,APARTMENT,198000.0,FOR_SALE,2.0,87.0,SEMI_EQUIPPED,False,False,True,8.0,NaN,0.0,0.0,2.0,False,GOOD,True
9035930,1040,APARTMENT,APARTMENT,229000.0,FOR_SALE,1.0,52.0,USA_INSTALLED,True,False,True,4.0,NaN,0.0,0.0,2.0,False,AS_NEW,True
9035945,4682,HOUSE,HOUSE,237000.0,FOR_SALE,3.0,117.0,INSTALLED,False,False,True,NaN,True,40.0,126.0,3.0,False,GOOD,True
9041213,6680,HOUSE,HOUSE,275000.0,FOR_SALE,5.0,237.0,INSTALLED,False,False,True,NaN,True,1100.0,1250.0,4.0,False,GOOD,True
9041140,9820,HOUSE,HOUSE,329000.0,FOR_SALE,3.0,110.0,SEMI_EQUIPPED,NaN,False,NaN,NaN,NaN,0.0,5724.0,3.0,NaN,TO_BE_DONE_UP,True
9041379,1755,HOUSE,HOUSE,360000.0,FOR_SALE,5.0,347.0,SEMI_EQUIPPED,NaN,False,NaN,NaN,NaN,0.0,460.0,2.0,NaN,TO_RENOVATE,True
9041444,8790,HOUSE,MANSION,665000.0,FOR_SALE,4.0,288.0,INSTALLED,NaN,False,True,NaN,True,0.0,667.0,2.0,NaN,GOOD,True
9041443,8790,HOUSE,MANSION,665000.0,FOR_SALE,4.0,288.0,INSTALLED,NaN,False,True,NaN,True,0.0,667.0,2.0,NaN,GOOD,True
9040377,1850,HOUSE,VILLA,695000.0,FOR_SALE,6.0,241.0,HYPER_EQUIPPED,False,False,NaN,NaN,NaN,0.0,750.0,4.0,NaN,GOOD,True
9044347,1180,HOUSE,TOWN_HOUSE,680000.0,FOR_SALE,3.0,200.0,USA_INSTALLED,False,True,True,10.0,True,70.0,285.0,3.0,NaN,GOOD,True
9044039,1050,HOUSE,HOUSE,1350000.0,FOR_SALE,5.0,365.0,USA_HYPER_EQUIPPED,False,False,True,20.0,True,50.0,145.0,2.0,NaN,JUST_RENOVATED,True
9043919,1050,HOUSE,MANSION,4950000.0,FOR_SALE,8.0,1000.0,INSTALLED,False,False,True,NaN,NaN,0.0,310.0,2.0,NaN,GOOD,True
9033767,6001,APARTMENT,APARTMENT,165000.0,FOR_SALE,1.0,64.0,HYPER_EQUIPPED,NaN,False,NaN,NaN,NaN,0.0,0.0,4.0,NaN,AS_NEW,True
9041253,1030,APARTMENT,APARTMENT,197500.0,FOR_SALE,1.0,70.0,HYPER_EQUIPPED,NaN,True,True,3.0,NaN,0.0,0.0,4.0,NaN,JUST_RENOVATED,True
9033790,6001,APARTMENT,APARTMENT,265000.0,FOR_SALE,2.0,104.0,HYPER_EQUIPPED,False,False,True,15.0,NaN,0.0,0.0,4.0,NaN,AS_NEW,True
9040974,9700,APARTMENT,APARTMENT,280000.0,FOR_SALE,3.0,140.0,INSTALLED,NaN,False,True,6.0,NaN,0.0,0.0,3.0,NaN,GOOD,True
9033817,6001,APARTMENT,APARTMENT,320000.0,FOR_SALE,3.0,120.0,HYPER_EQUIPPED,NaN,False,True,30.0,NaN,0.0,0.0,4.0,NaN,AS_NEW,True
8829165,8300,APARTMENT,APARTMENT,435000.0,FOR_SALE,2.0,85.0,USA_HYPER_EQUIPPED,NaN,False,True,NaN,NaN,0.0,0.0,2.0,False,GOOD,True
9035334,1190,APARTMENT,APARTMENT,198000.0,FOR_SALE,1.0,76.0,INSTALLED,False,False,True,15.0,NaN,0.0,0.0,2.0,False,GOOD,True
9034364,8800,APARTMENT,APARTMENT,235000.0,FOR_SALE,3.0,141.0,INSTALLED,False,False,True,NaN,NaN,0.0,0.0,NaN,False,AS_NEW,True