# Challenge Data Analysis

## Import modules

In [1]:
import numpy as np
import pandas as pd

## Files used

In [2]:
filename_in = './data/immoweb_scrapped.csv'
filename_out = './data/immoweb_cleaned.csv'

## Load data

In [3]:
data = pd.read_csv(filename_in, index_col="id")
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Clean data

### No duplicates

In [4]:
data.index.is_unique

True

In [5]:
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### No blank space

In [6]:
# Remove leading and trailing withespaces
def strip_str(x):
    if type(x) is str:
        return x.strip()
    return x

In [7]:
data = data.applymap(strip_str)

In [8]:
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### No errors

##### Price error

In [9]:
data = data[data['price'] != 1]

##### Area error

In [10]:
data.loc[data['area'] == 1, 'area'] = -1

### No empty values

##### Empty price
Removing all the data without a price

In [11]:
data = data.dropna(subset=['price'])

In [12]:
data['price'].min()

20000.0

##### Area
Try to determinate the area on basis of :
- total land area
- garden area

If not possible to determinate it, -1

In [13]:
def area_adj(x):
    if x['area'] != x['area']:
        if x['total_land_area'] > x['garden_area']:
            return x['total_land_area'] - x['garden_area']
        else:
            return -1
    else:
        return x['area']

In [14]:
data['area'] = data.apply(area_adj, axis= 1)

In [15]:
data['area'].value_counts()

-1.0      272
 100.0    184
 120.0    172
 90.0     168
 110.0    155
         ...
 578.0      1
 568.0      1
 407.0      1
 586.0      1
 349.0      1
Name: area, Length: 551, dtype: int64

##### Furnished

In [16]:
data['furnished'] = data['furnished'].fillna(False)

In [17]:
data['furnished'].value_counts()

False    8654
True      399
Name: furnished, dtype: int64

##### Terrace

In [18]:
data['terrace'] = data['terrace'].fillna(False)

In [19]:
data['terrace'].value_counts()

True     6392
False    2661
Name: terrace, dtype: int64

##### Terrace area

In [20]:
data['terrace_area'] = data['terrace_area'].fillna(-1)

In [21]:
data['terrace_area'].value_counts()

-1.0      4689
 20.0      268
 10.0      231
 15.0      216
 30.0      196
          ...
 84.0        1
 104.0       1
 165.0       1
 89.0        1
 106.0       1
Name: terrace_area, Length: 152, dtype: int64

##### Garden
Try to determinate the presence on basis of :

- total land area
- terrace_area
- area

In [22]:
# Function that will replace the NaN garden value 
# by a boolean (True/False)
# True if total_land_area > (area + terrace_area)
# otherwise False
def garden_nan_to_bool_value(x):
    # Only if value is NaN
    if x["garden"] != x["garden"]:
        if x["total_land_area"] > x["area"] + x["terrace_area"]:
            return True
        else:
            return False
    return x["garden"]

In [23]:
data["garden"] = data.apply(garden_nan_to_bool_value, axis=1)

In [24]:
data['garden'].value_counts()

False    4783
True     4270
Name: garden, dtype: int64

##### Garden area
Try to determinate the garden area on basis of :

- total land area
- terrace_area
- area

If not possible to determinate it, -1

In [25]:
# Function that will replace the NaN garden_are value 
# by a int
# if total_land_area > (area + terrace_area)
# otherwise 0
def garden_area_nan_to_value(x):
    # Only if value is NaN
    if x["garden_area"] != x["garden_area"]:
        if x["total_land_area"] >= x["area"] + x["terrace_area"]:
            return x["total_land_area"] - x["area"] - x["terrace_area"]
        else:
            return -1
    return x["garden_area"]

In [26]:
data["garden_area"] = data.apply(garden_area_nan_to_value, axis=1)

In [27]:
data['garden_area'].value_counts()

-1.0       5062
 100.0       62
 200.0       54
 1.0         49
 400.0       47
           ...
 1169.0       1
 1649.0       1
 820.0        1
 4278.0       1
 1287.0       1
Name: garden_area, Length: 1343, dtype: int64

##### Total land area
Try to determinate the garden area on basis of :

- terrace_area
- area

If not possible to determinate it, -1

In [28]:
def total_land_area_nan_to_value(x):
    # Only if value is NaN
    if x["total_land_area"] != x["total_land_area"]:
        return x["area"] + x["terrace_area"]
    return x["total_land_area"]

In [29]:
data["total_land_area"] = data.apply(total_land_area_nan_to_value, axis=1)

##### Swimming pool

In [30]:
data['swimming_pool'] = data['swimming_pool'].fillna(False)

##### Number of facades

In [31]:
data['nr_of_facades'] = data['nr_of_facades'].fillna(-1)

##### Building condition

In [32]:
data['building_condition'] = data['building_condition'].fillna('UKN')

### Added values

##### Kitchen

In [33]:
#replace all nan values by zero (0) in the column
data['equiped_kitchen'] = data['equiped_kitchen'].replace(np.nan, 'UNK')

#create a new column with condition over 'equiped_kitchen' column
l = ['UNK','NOT_INSTALLED', 'USA_UNINSTALLED']

data['kitchen'] = np.where(data['equiped_kitchen'].isin(l), True, False )

In [34]:
data['kitchen'].value_counts()

False    7327
True     1726
Name: kitchen, dtype: int64

In [35]:
data['equiped_kitchen'].value_counts()

INSTALLED             3357
HYPER_EQUIPPED        1880
UNK                   1295
SEMI_EQUIPPED          969
USA_HYPER_EQUIPPED     839
NOT_INSTALLED          421
USA_INSTALLED          206
USA_SEMI_EQUIPPED       76
USA_UNINSTALLED         10
Name: equiped_kitchen, dtype: int64

##### Region and Province

In [36]:
# Function that will determine the Region
# based on the Locality ZipCode
# 
#1000–1299 -> BXL
#1300–1499 -> WAL
#1500–3999 -> VLA
#4000–4999 -> WAL
#5000–7999 -> WAL
#8000–9999 -> VLA
def get_region_on_zip_code(x):
    # Only if value is NaN
    if (1000 <= x <= 1299):
        return "BXL"
    elif (1300 <= x <= 1499) or (4000 <= x <= 7999):
        return "WAL"
    else:
        return "VLA"

In [37]:
data["region"] = data.locality.apply(get_region_on_zip_code)

In [38]:
data["region"].value_counts()

VLA    3954
WAL    3052
BXL    2047
Name: region, dtype: int64

In [39]:
# function to recognize the province based on the postal code
def province(x):
    prov = []
    for i in x["locality"]:
        if 2000 <= i <= 2999:  # Antwerp
            prov.append("VAN")
        if 3500 <= i <= 3999:  # Limburg
            prov.append("VLI")
        if 4000 <= i <= 4999:  # Liège
            prov.append("WLG")
        if 1300 <= i <= 1499:  # Brabant Wallon
            prov.append("WBR")
        if 5000 <= i <= 5999:  # Namur
            prov.append("WNA") 
        if 6600 <= i <= 6999:  # Luxembourg
            prov.append("WLX")            
        if 1000 <= i <= 1299:  # Brussels
            prov.append("BXL")
        if (1500 <= i <= 1999) | (3000 <= i <= 3499):  # Brabant Flamand
            prov.append("VBR")
        if (6000 <= i <= 6599) | (7000 <= i <= 7999):  # Hainaut
            prov.append("WHT")            
        if 8000 <= i <= 8999:  # Flander Occidentale
            prov.append("VWV") 
        if 9000 <= i <= 9999:  # Flander Orientale
            prov.append("VOV")
    return prov

In [40]:
data["province"] = province(data)

In [41]:
data["province"].value_counts()

BXL    2047
VWV    1739
WLG    1101
VBR     800
VOV     781
WHT     702
WBR     564
VAN     550
WLX     389
WNA     296
VLI      84
Name: province, dtype: int64

##### Price meter price
On the build area and the total land area

In [42]:
# Price / Area 
def price_sq_meter(x):
    if x["area"] > 0:
        return x["price"]/x["area"]
    return -1

In [43]:
data["sq_m_price"] = data.apply(price_sq_meter, axis=1)

In [44]:
data["sq_m_price"].value_counts()

-1.000000       272
 2500.000000     56
 3000.000000     40
 2000.000000     32
 3750.000000     24
               ...
 4447.761194      1
 2959.259259      1
 3625.541126      1
 1091.205212      1
 2251.184834      1
Name: sq_m_price, Length: 5598, dtype: int64

In [45]:
# Price / Total land area
def price_sq_meter_land(x):
    if x["total_land_area"] > 0:
        return x["price"]/x["total_land_area"]
    return -1

In [46]:
data["sq_m_land_price"] = data.apply(price_sq_meter_land, axis=1)

In [47]:
data["sq_m_land_price"].value_counts()

-1.000000       297
 2500.000000     40
 3000.000000     20
 5000.000000     15
 1000.000000     15
               ...
 776.315789       1
 7968.085106      1
 4303.030303      1
 2366.336634      1
 605.555556       1
Name: sq_m_land_price, Length: 6820, dtype: int64

## Conversion

##### bool -> 0/1

In [48]:
def bool_to_int(x):
    if type(x) is bool:
        if x:
            return 1
        else:
            return 0
    return x

In [49]:
data = data.applymap(bool_to_int)

In [50]:
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,...,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen,region,province,sq_m_price,sq_m_land_price
id,,,,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,0,0,...,-1.0,103.0,4.0,0,AS_NEW,0,BXL,BXL,2944.444444,2572.815534
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,0,1,...,-1.0,1050.0,3.0,0,AS_NEW,0,BXL,BXL,2761.538462,1709.523810
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,0,0,...,-1.0,340.0,2.0,0,JUST_RENOVATED,0,BXL,BXL,5053.191489,11176.470588
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,0,0,...,1200.0,1421.0,3.0,0,AS_NEW,1,WAL,WLG,1385.281385,225.193526
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,0,0,...,-1.0,74.0,2.0,0,GOOD,0,VLA,VOV,2600.000000,2635.135135

##### Round float to 2 decimal

In [51]:
def float_round_2_decimal(x):
    if type(x) is float:
        return round(x, 2)
    return x

In [52]:
data = data.applymap(float_round_2_decimal)

##### Convert text dictionary to numeric

In [53]:
dic_type_of_property = {
        "APARTMENT": 1,
        "HOUSE":     2
    }

data["type_of_property"] = data["type_of_property"].apply(lambda x: dic_type_of_property.get(x))

In [54]:
dic_subtype_of_property = {
        "APARTMENT":1,
        "MANSION":2,
        "HOUSE":3,
        "TRIPLEX":4,
        "VILLA":5,
        "FLAT_STUDIO":6,
        "EXCEPTIONAL_PROPERTY":7,
        "LOFT":8,
        "DUPLEX":9,
        "SERVICE_FLAT":10,
        "TOWN_HOUSE":11,
        "FARMHOUSE":12,
        "PENTHOUSE":13,
        "BUNGALOW":14,
        "APARTMENT_BLOCK":15,
        "COUNTRY_COTTAGE":15,
        "MIXED_USE_BUILDING":17,
        "GROUND_FLOOR":17,
        "OTHER_PROPERTY":19,
        "MANOR_HOUSE":20,
        "CHALET":21,
        "KOT":22,
        "CASTLE":23
    }
data["subtype_of_property"] = data["subtype_of_property"].apply(lambda x: dic_subtype_of_property.get(x))

In [55]:
dic_type_of_sale = {"FOR_SALE": 1}
data["type_of_sale"] = data["type_of_sale"].apply(lambda x: dic_type_of_sale.get(x))

In [56]:
dic_equiped_kitchen = {
        "INSTALLED": 1,
        "USA_HYPER_EQUIPPED": 2,
        "HYPER_EQUIPPED": 3,
        "NOT_INSTALLED": 4,
        "SEMI_EQUIPPED": 5,
        "USA_INSTALLED": 6,
        "USA_SEMI_EQUIPPED": 7,
        "UNK": -1,
        "USA_UNINSTALLED": 8
    }
data["equiped_kitchen"] = data["equiped_kitchen"].apply(lambda x: dic_equiped_kitchen.get(x))

In [57]:
dic_building_condition = {
        "AS_NEW": 1,
        "JUST_RENOVATED": 2,
        "GOOD": 3,
        "TO_BE_DONE_UP": 4,
        "TO_RENOVATE": 5,
        "UKN": -1,
        "TO_RESTORE": 6
    }
data["building_condition"] = data["building_condition"].apply(lambda x: dic_building_condition.get(x))

## Fix dtype

In [58]:
data.dtypes

locality                 int64
type_of_property         int64
subtype_of_property      int64
price                  float64
type_of_sale             int64
nr_of_rooms            float64
area                   float64
equiped_kitchen          int64
furnished                int64
open_fire                int64
terrace                  int64
terrace_area           float64
garden                   int64
garden_area            float64
total_land_area        float64
nr_of_facades          float64
swimming_pool            int64
building_condition       int64
kitchen                  int64
region                  object
province                object
sq_m_price             float64
sq_m_land_price        float64
dtype: object

In [59]:
convert_dict = {'price': int,
                'nr_of_rooms': int,
                'area': int,
                'furnished': int,
                'terrace_area': int,
                'garden_area': int, 
                'nr_of_facades': int,
                'total_land_area': int 
               } 
  
data = data.astype(convert_dict)

In [60]:
data.dtypes

locality                 int64
type_of_property         int64
subtype_of_property      int64
price                    int64
type_of_sale             int64
nr_of_rooms              int64
area                     int64
equiped_kitchen          int64
furnished                int64
open_fire                int64
terrace                  int64
terrace_area             int64
garden                   int64
garden_area              int64
total_land_area          int64
nr_of_facades            int64
swimming_pool            int64
building_condition       int64
kitchen                  int64
region                  object
province                object
sq_m_price             float64
sq_m_land_price        float64
dtype: object

In [61]:
data.shape

(9053, 23)

In [62]:
data.head(100)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,...,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen,region,province,sq_m_price,sq_m_land_price
id,,,,,,,,,,,,,,,,,,,,,
9044081,1083,1,1,265000,1,4,90,1,0,0,...,-1,103,4,0,1,0,BXL,BXL,2944.44,2572.82
9043978,1000,1,1,1795000,1,4,650,2,0,1,...,-1,1050,3,0,1,0,BXL,BXL,2761.54,1709.52
9044188,1050,2,2,3800000,1,5,752,3,0,0,...,-1,340,2,0,2,0,BXL,BXL,5053.19,11176.47
9041095,4860,2,3,320000,1,5,231,4,0,0,...,1200,1421,3,0,1,1,WAL,WLG,1385.28,225.19
9043036,9600,1,1,195000,1,2,75,1,0,0,...,-1,74,2,0,3,0,VLA,VOV,2600.00,2635.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9043293,8020,2,3,495000,1,3,217,3,0,1,...,230,1045,3,0,1,0,VLA,VWV,2281.11,473.68
9007296,5060,1,9,318000,1,3,118,3,0,0,...,-1,140,2,0,3,0,WAL,WNA,2694.92,2271.43
9029109,4140,2,14,349000,1,3,180,5,0,0,...,850,1674,4,0,1,0,WAL,WLG,1938.89,208.48
9029927,5580,2,3,599000,1,4,320,1,0,1,...,4300,4342,4,0,1,0,WAL,WNA,1871.88,137.95
9029376,1050,2,17,985000,1,3,340,4,0,0,...,100,210,2,0,3,1,BXL,BXL,2897.06,4690.48

### Final Data check

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9053 entries, 9044081 to 8471905
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   locality             9053 non-null   int64
 1   type_of_property     9053 non-null   int64
 2   subtype_of_property  9053 non-null   int64
 3   price                9053 non-null   int64
 4   type_of_sale         9053 non-null   int64
 5   nr_of_rooms          9053 non-null   int64
 6   area                 9053 non-null   int64
 7   equiped_kitchen      9053 non-null   int64
 8   furnished            9053 non-null   int64
 9   open_fire            9053 non-null   int64
 10  terrace              9053 non-null   int64
 11  terrace_area         9053 non-null   int64
 12  garden               9053 non-null   int64
 13  garden_area          9053 non-null   int64
 14  total_land_area      9053 non-null   int64
 15  nr_of_facades        9053 non-null   int64
 16  swimming_pool        9053 non-null   int64
 17  building_condition   9053 non-null   int64
 18  kitchen              9053 non-null   int64
 19  region               9053 non-null   object
 20  province             9053 non-null   object
 21  sq_m_price           9053 non-null   float64
 22  sq_m_land_price      9053 non-null   float64
dtypes: float64(2), int64(19), object(2)
memory usage: 1.7+ MB

### Save data cleaned

In [64]:
data.to_csv(filename_out)