# Challenge Data Analysis

### Import modules

In [1]:
import numpy as np
import pandas as pd

### Files used

In [2]:
filename_in = './data/immoweb_scrapped.csv'
filename_out = './data/immoweb_cleaned.csv'

### Load data

In [3]:
data = pd.read_csv(filename_in, index_col="id")
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Clean data

#### No duplicates

In [4]:
data.index.is_unique

True

In [5]:
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### No blank space

In [6]:
# Remove leading and trailing withespaces
def strip_str(x):
    if type(x) is str:
        return x.strip()
    return x

In [7]:
data.applymap(strip_str)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8757737,4400,HOUSE,HOUSE,289500.0,FOR_SALE,4.0,190.0,NOT_INSTALLED,NaN,False,True,NaN,True,NaN,575.0,4.0,NaN,NaN
8898104,2500,APARTMENT,GROUND_FLOOR,359000.0,FOR_SALE,3.0,130.0,HYPER_EQUIPPED,NaN,False,True,13.0,True,95.0,NaN,2.0,NaN,AS_NEW
8967132,3800,APARTMENT,APARTMENT,365000.0,FOR_SALE,2.0,146.0,SEMI_EQUIPPED,NaN,False,NaN,NaN,NaN,NaN,NaN,4.0,NaN,GOOD
8931948,1200,APARTMENT,PENTHOUSE,754500.0,FOR_SALE,2.0,159.0,USA_HYPER_EQUIPPED,False,False,True,76.0,NaN,NaN,NaN,2.0,False,AS_NEW
8471905,1030,APARTMENT,APARTMENT,990000.0,FOR_SALE,4.0,337.0,USA_HYPER_EQUIPPED,False,False,NaN,NaN,NaN,NaN,NaN,2.0,False,GOOD

In [8]:
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### No errors

#### No empty values

##### Empty price
Removing all the data without a price

In [9]:
data = data.dropna(subset=['price'])
data.head()

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,NaN,GOOD

##### Area
Try to determinate the area on basis of :
- total land area
- garden area

If not possible to determinate it, -1

In [10]:
def area_adj(x):
    if x['area'] != x['area']:
        if x['total_land_area'] > x['garden_area']:
            return x['total_land_area'] - x['garden_area']
        else:
            return -1
    else:
        return x['area']

In [11]:
data['area'] = data.apply(area_adj, axis= 1)

In [12]:
data['area'].value_counts()

-1.0      272
 100.0    184
 120.0    172
 90.0     168
 110.0    155
         ...
 578.0      1
 568.0      1
 407.0      1
 586.0      1
 349.0      1
Name: area, Length: 552, dtype: int64

##### Terrace

In [13]:
data['terrace'] = data['terrace'].fillna(False)

In [14]:
data['terrace'].value_counts()

True     6393
False    2661
Name: terrace, dtype: int64

##### Terrace area

In [15]:
data['terrace_area'] = data['terrace_area'].fillna(-1)

##### Garden
Try to determinate the presence on basis of :

- total land area
- terrace_area
- area

In [16]:
# Function that will replace the NaN garden value 
# by a boolean (True/False)
# True if total_land_area > (area + terrace_area)
# otherwise False
def garden_nan_to_bool_value(x):
    # Only if value is NaN
    if x["garden"] != x["garden"]:
        if x["total_land_area"] > x["area"] + x["terrace_area"]:
            return True
        else:
            return False
    return x["garden"]

In [17]:
data["garden"] = data.apply(garden_nan_to_bool_value, axis=1)

In [18]:
data['garden'].value_counts()

False    4784
True     4270
Name: garden, dtype: int64

##### Garden area
Try to determinate the garden area on basis of :

- total land area
- terrace_area
- area

If not possible to determinate it, -1

In [19]:
# Function that will replace the NaN garden_are value 
# by a int
# if total_land_area > (area + terrace_area)
# otherwise 0
def garden_area_nan_to_value(x):
    # Only if value is NaN
    if x["garden_area"] != x["garden_area"]:
        if x["total_land_area"] >= x["area"] + x["terrace_area"]:
            return x["total_land_area"] - x["area"] - x["terrace_area"]
        else:
            return -1
    return x["garden_area"]

In [20]:
data["garden_area"] = data.apply(garden_area_nan_to_value, axis=1)

In [21]:
data['garden_area'].value_counts()

-1.0       5063
 100.0       62
 200.0       54
 1.0         49
 400.0       47
           ...
 1169.0       1
 1649.0       1
 820.0        1
 4278.0       1
 1287.0       1
Name: garden_area, Length: 1343, dtype: int64

##### Total land area
Try to determinate the garden area on basis of :

- terrace_area
- area

If not possible to determinate it, -1

In [22]:
def total_land_area_nan_to_value(x):
    # Only if value is NaN
    if x["total_land_area"] != x["total_land_area"]:
        return x["area"] + x["terrace_area"]
    return x["total_land_area"]

In [23]:
data["total_land_area"] = data.apply(total_land_area_nan_to_value, axis=1)

##### Swimming pool

In [24]:
data['swimming_pool'] = data['swimming_pool'].fillna(False)

##### Number of facades

In [25]:
data['nr_of_facades'] = data['nr_of_facades'].fillna(-1)

##### Building condition

In [26]:
data['building_condition'] = data['building_condition'].fillna('UKN')

### Adding value

#### Kitchen

In [27]:
#replace all `nan` values by zero (0) in the column
data['equiped_kitchen'] = data['equiped_kitchen'].replace(np.nan, 0)

#create a new column with condition over 'equiped_kitchen' column
data['kitchen'] = np.where(data['equiped_kitchen'] != 0, True, False)

In [28]:
data['kitchen'].value_counts()

True     7759
False    1295
Name: kitchen, dtype: int64

In [29]:
data['equiped_kitchen'].value_counts()

INSTALLED             3358
HYPER_EQUIPPED        1880
0                     1295
SEMI_EQUIPPED          969
USA_HYPER_EQUIPPED     839
NOT_INSTALLED          421
USA_INSTALLED          206
USA_SEMI_EQUIPPED       76
USA_UNINSTALLED         10
Name: equiped_kitchen, dtype: int64

#### Region and Province

In [30]:
# Function that will determine the Region
# based on the Locality ZipCode
# 
#1000â€“1299 -> BXL
#1300â€“1499 -> WAL
#1500â€“3999 -> VLA
#4000â€“4999 -> WAL
#5000â€“7999 -> WAL
#8000â€“9999 -> VLA
def get_region_on_zip_code(x):
    # Only if value is NaN
    if (1000 <= x <= 1299):
        return "BXL"
    elif (1300 <= x <= 1499) or (4000 <= x <= 7999):
        return "WAL"
    else:
        return "VLA"

In [31]:
data["region"] = data.locality.apply(get_region_on_zip_code)

In [32]:
data["region"].value_counts()

VLA    3954
WAL    3052
BXL    2048
Name: region, dtype: int64

In [33]:
# function to recognize the province based on the postal code
def province(x):
    prov = []
    for i in x["locality"]:
        if 2000 <= i <= 2999:  # Antwerp
            prov.append("VAN")
        if 3500 <= i <= 3999:  # Limburg
            prov.append("VLI")
        if 4000 <= i <= 4999:  # LiÃ¨ge
            prov.append("WLG")
        if 1300 <= i <= 1499:  # Brabant Wallon
            prov.append("WBR")
        if 5000 <= i <= 5999:  # Namur
            prov.append("WNA") 
        if 6600 <= i <= 6999:  # Luxembourg
            prov.append("WLX")            
        if 1000 <= i <= 1299:  # Brussels
            prov.append("BXL")
        if (1500 <= i <= 1999) | (3000 <= i <= 3499):  # Brabant Flamand
            prov.append("VBR")
        if (6000 <= i <= 6599) | (7000 <= i <= 7999):  # Hainaut
            prov.append("WHT")            
        if 8000 <= i <= 8999:  # Flander Occidentale
            prov.append("VWV") 
        if 9000 <= i <= 9999:  # Flander Orientale
            prov.append("VOV")
    return prov

In [34]:
data["Province"] = province(data)

In [35]:
data["Province"].value_counts()

BXL    2048
VWV    1739
WLG    1101
VBR     800
VOV     781
WHT     702
WBR     564
VAN     550
WLX     389
WNA     296
VLI      84
Name: Province, dtype: int64

#### Price meter price
On the build area and the total land area

In [36]:
# Price / Area 
def price_sq_meter(x):
    if x["area"] > 0:
        return x["price"]/x["area"]
    return -1

In [37]:
data["sq_m_price"] = data.apply(price_sq_meter, axis=1)

In [38]:
data["sq_m_price"].value_counts()

-1.000000       272
 2500.000000     56
 3000.000000     40
 2000.000000     32
 3750.000000     24
               ...
 4447.761194      1
 2959.259259      1
 3625.541126      1
 1091.205212      1
 719.512195       1
Name: sq_m_price, Length: 5599, dtype: int64

In [39]:
# Price / Total land area
def price_sq_meter_land(x):
    if x["total_land_area"] > 0:
        return x["price"]/x["total_land_area"]
    return -1

In [40]:
data["sq_m_land_price"] = data.apply(price_sq_meter_land, axis=1)

In [41]:
data["sq_m_land_price"].value_counts()

-1.000000        297
 2500.000000      40
 3000.000000      20
 5000.000000      15
 1000.000000      15
                ...
 11406.250000      1
 776.315789        1
 7968.085106       1
 4303.030303       1
 605.555556        1
Name: sq_m_land_price, Length: 6821, dtype: int64

#### Convert dtype

In [42]:
data.dtypes

locality                 int64
type_of_property        object
subtype_of_property     object
price                  float64
type_of_sale            object
nr_of_rooms            float64
area                   float64
equiped_kitchen         object
furnished               object
open_fire                 bool
terrace                   bool
terrace_area           float64
garden                    bool
garden_area            float64
total_land_area        float64
nr_of_facades          float64
swimming_pool             bool
building_condition      object
kitchen                   bool
region                  object
Province                object
sq_m_price             float64
sq_m_land_price        float64
dtype: object

In [43]:
convert_dict = {'price': int,
                'nr_of_rooms': int,
                'furnished': bool,
                'terrace': bool,
                'garden': bool, 
                'nr_of_facades': int,
                'swimming_pool': bool 
               } 
  
data = data.astype(convert_dict)

In [44]:
data.dtypes

locality                 int64
type_of_property        object
subtype_of_property     object
price                    int64
type_of_sale            object
nr_of_rooms              int64
area                   float64
equiped_kitchen         object
furnished                 bool
open_fire                 bool
terrace                   bool
terrace_area           float64
garden                    bool
garden_area            float64
total_land_area        float64
nr_of_facades            int64
swimming_pool             bool
building_condition      object
kitchen                   bool
region                  object
Province                object
sq_m_price             float64
sq_m_land_price        float64
dtype: object

In [45]:
data.shape

(9054, 23)

In [46]:
data.head(100)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,...,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,kitchen,region,Province,sq_m_price,sq_m_land_price
id,,,,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000,FOR_SALE,4,90.0,INSTALLED,False,False,...,-1.0,103.0,4,False,AS_NEW,True,BXL,BXL,2944.444444,2572.815534
9043978,1000,APARTMENT,APARTMENT,1795000,FOR_SALE,4,650.0,USA_HYPER_EQUIPPED,False,True,...,-1.0,1050.0,3,False,AS_NEW,True,BXL,BXL,2761.538462,1709.523810
9044188,1050,HOUSE,MANSION,3800000,FOR_SALE,5,752.0,HYPER_EQUIPPED,False,False,...,-1.0,340.0,2,False,JUST_RENOVATED,True,BXL,BXL,5053.191489,11176.470588
9041095,4860,HOUSE,HOUSE,320000,FOR_SALE,5,231.0,NOT_INSTALLED,False,False,...,1200.0,1421.0,3,False,AS_NEW,True,WAL,WLG,1385.281385,225.193526
9043036,9600,APARTMENT,APARTMENT,195000,FOR_SALE,2,75.0,INSTALLED,True,False,...,-1.0,74.0,2,False,GOOD,True,VLA,VOV,2600.000000,2635.135135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9043293,8020,HOUSE,HOUSE,495000,FOR_SALE,3,217.0,HYPER_EQUIPPED,False,True,...,230.0,1045.0,3,False,AS_NEW,True,VLA,VWV,2281.105991,473.684211
9007296,5060,APARTMENT,DUPLEX,318000,FOR_SALE,3,118.0,HYPER_EQUIPPED,False,False,...,-1.0,140.0,2,False,GOOD,True,WAL,WNA,2694.915254,2271.428571
9029109,4140,HOUSE,BUNGALOW,349000,FOR_SALE,3,180.0,SEMI_EQUIPPED,False,False,...,850.0,1674.0,4,False,AS_NEW,True,WAL,WLG,1938.888889,208.482676
9029927,5580,HOUSE,HOUSE,599000,FOR_SALE,4,320.0,INSTALLED,True,True,...,4300.0,4342.0,4,False,AS_NEW,True,WAL,WNA,1871.875000,137.954860
9029376,1050,HOUSE,MIXED_USE_BUILDING,985000,FOR_SALE,3,340.0,NOT_INSTALLED,False,False,...,100.0,210.0,2,False,GOOD,True,BXL,BXL,2897.058824,4690.476190

### Final Data check

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9054 entries, 9044081 to 8471905
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   locality             9054 non-null   int64
 1   type_of_property     9054 non-null   object
 2   subtype_of_property  9054 non-null   object
 3   price                9054 non-null   int64
 4   type_of_sale         9054 non-null   object
 5   nr_of_rooms          9054 non-null   int64
 6   area                 9054 non-null   float64
 7   equiped_kitchen      9054 non-null   object
 8   furnished            9054 non-null   bool
 9   open_fire            9054 non-null   bool
 10  terrace              9054 non-null   bool
 11  terrace_area         9054 non-null   float64
 12  garden               9054 non-null   bool
 13  garden_area          9054 non-null   float64
 14  total_land_area      9054 non-null   float64
 15  nr_of_facades        9054 non-null   int64
 16  swimming_pool        9054 non-null   bool
 17  building_condition   9054 non-null   object
 18  kitchen              9054 non-null   bool
 19  region               9054 non-null   object
 20  Province             9054 non-null   object
 21  sq_m_price           9054 non-null   float64
 22  sq_m_land_price      9054 non-null   float64
dtypes: bool(6), float64(6), int64(4), object(7)
memory usage: 1.3+ MB

### Save data cleaned

In [48]:
data.to_csv(filename_out)